body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-container,
.usuarios-container,
.productos-container,
.poseedores-container,
.reportes-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

input,
select,
button {
  margin: 5px;
  padding: 8px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}